.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}
.navbar{
    overflow: hidden;
}

// //laptop
// @media(max-width:1024px){
//     .navbar{
//         width:820px;
//     }
// }
// //tablet
// @media(min-width:426px) and (max-width:768px){
//     .navbar{
//         width:615px;
//     }
// }
// //mobile l
// @media(min-width:376px) and (max-width:425px){
//     .navbar{
//         width:370px;
//     }
// }
// //mobile m
// @media(min-width:321px) and (max-width:375px){
//     .navbar{
//         width:324px;
//     }
// }
// //mobile
// @media(max-width:320px){
//     .navbar{
//         width:312px;
//     }
// }
